.dark-theme {
  background-color: $clr-grey-dark-1-d;

  figure {
    background-image: url("/bg-mobile-dark.jpg");

    @media (min-width: $bp-desktop) {
      background-image: url("/bg-desktop-dark.jpg");
    }
  }

  input[type="checkbox"] {
    color: $clr-grey-dark-4-d;
    border: 1px solid $clr-grey-dark-4-d !important;
  }

  .wrapper {
    background-color: $clr-grey-dark-2-d;
  }

  input[id="todo"] {
    background-color: $clr-grey-dark-2-d;

    color: $clr-grey-light-2-d;

    &::placeholder {
      color: $clr-grey-light-1-d;
    }
  }

  .task {
    color: $clr-grey-light-2-d;

    &--new {
      color: $clr-grey-light-1-d;
    }
    &--complete {
      color: $clr-grey-dark-4-d;
    }
  }

  .complete-task {
    & .task-text {
      text-decoration-line: strikethrough;
      text-decoration: line-through;

      color: $clr-grey-dark-4-d;
    }
  }

  .form-create {
    background-color: $clr-grey-dark-2-d;

    &__btn {
      color: $clr-grey-dark-4-d;
      border: 1px solid $clr-grey-dark-4-d !important;
    }
  }

  .task-item {
    border-bottom: 1px solid $clr-grey-dark-3-d;
  }

  .task-filters {
    background-color: $clr-grey-dark-2-d;
  }

  .filter {
    color: lighten($clr-grey-dark-4-d, 10);

    &:hover {
      color: $clr-grey-light-3-d;
    }

    &--current {
      color: $clr-blue;
    }
  }

  .action {
    color: lighten($clr-grey-dark-4-d, 10);

    &:hover {
      color: $clr-grey-light-3-d;
    }
  }

  .text {
    color: lighten($clr-grey-dark-4-d, 10);
  }

  .bg-task {
    background-color: $clr-grey-dark-2-d;
  }

  .shadow {
    box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.5);
  }
}
